**Q-17. Write an SQL query to show the top n (say 10) records of a table.**

SELECT * FROM <table> LIMIT 10;

**Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.**


select * from(select FIRST_NAME, SALARY, DEPARTMENT, dense_rank() 
OVER (order by SALARY DESC) AS 'DEN_RANK' FROM WORKER) AS TEST WHERE DEN_RANK = 5;